/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */
 .fondoVideo{
  background-image: url("https://images.wallpaperscraft.com/image/single/stars_milky_way_space_116893_3840x2160.jpg");
  background-repeat: no-repeat;
  opacity: 0.9;
 }
 .cardBody{
  background-image: url("https://images.wallpaperscraft.com/image/single/stars_milky_way_space_116893_3840x2160.jpg");
  background-repeat: no-repeat;
  opacity: 0.9;
 }
 .myCard{
   border: none;
 }